@import "../../scss/variables.scss";

.navigation__aside {
  position: sticky;
  top: 0.6rem;
}

.navigation__list {
  margin-left: 4rem;
  padding: 0rem 4rem;

  max-width: 21rem;
  height: 100%;

  .profile__bubble--link {
    margin-top: 3.8rem;
  }
}

.navigation__li--item.list__item {
  margin-bottom: 0.6rem;
  padding-left: 0.8rem;
  border-radius: 1.4rem;
}

.article__img {
  width: 8rem;
  margin-bottom: 2rem;
}

.navigation__li--item.list__item:not(:nth-child(9), :first-child):hover {
  background-color: $gray-hover-color;
}

.link__wrapper {
  color: unset;
  font-size: 1.2rem;

  .article {
    display: flex;
    align-items: center;
    gap: 0.8rem;

    .title {
      font-weight: 400;
      margin: 0.8rem;
    }

    i {
      font-size: 1.4rem;
    }
  }

  &:focus {
    .title,
    i {
      font-weight: 700;
    }
  }
}

.swirk__create .title {
  margin-top: 2rem;
  padding: 0.6rem 3rem;

  border-radius: 2rem;
  text-align: center;

  background-color: $sky-blue-color;
  color: $white-color;
  transition: all ease-in-out 0.2s;

  &:hover {
    background-color: $blue-hover-color;
  }
}
