@import "../../../scss/variables.scss";

.search__main {
  display: flex;
  justify-content: space-between;

  .trends {
    flex-basis: 45%;

    .search__section {
      position: sticky;
      top: 0;
      z-index: 10;

      padding: 0.8rem 1.2rem 0.8rem 1.2rem;
      background-color: rgba($white-color, 0.9);
      backdrop-filter: blur(0.22rem);
    }

    .trends__section {
      max-width: unset;
      margin-top: 0.6rem;
      margin-right: 0;
      padding: 0;

      .trends__article {
        border-radius: 0;
        background-color: unset;
      }
    }
  }

  .section__footer {
    flex-basis: 30%;
    padding: 0.8rem 1.6rem;

    .footer__small {
      position: sticky;
      top: 0.8rem;
    }
  }
}

.search__main .search__section--sec {
  width: 40%;
  border-left: 2px solid $gray-hover-color;
  border-right: 2px solid $gray-hover-color;
}

.search__list--results {
  margin-top: 1.2rem;
}

.search__result {
  display: flex;
  padding: 1rem 0;
 
  border-bottom: 0.1rem solid $gray-hover-color;
  transition: all ease-in-out 0.2s;
  cursor: pointer;

  .user__content {
    width: 100%;
  }

  .user__picture {
    width: 4rem;
    height: 4rem;
    
    margin-right: 1.2rem;
    border-radius: 50%;
  }

  .user__nickname {
    margin-top: 0;
    color: $light-gray-color;
    font-weight: normal;
  }

  .wrapper__following {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
  }

  &:hover {
    background-color: $gray-hover-color;
  }
}

@media only screen and (max-width: $wider-device-width) {
  .search__main {
    flex-direction: column-reverse;
  }

  .search__section {
    height: 93vh;
    width: 100%;
  }

  .section__footer {
    display: none;
  }

  .trends {
    display: flex;
  }
}
