@import "../../scss/variables.scss";

.post__article {
  display: flex;
  padding: 0.8rem;
  position: relative;

  cursor: pointer;
  border-bottom: 2px solid $gray-hover-color;
  transition: all ease-in-out 0.2s;

  &:hover {
    background-color: $gray-post-color;
  }

  .post__aside {
    max-width: 10%;

    .post__image {
      height: 3.2rem;
      width: 3.2rem;
      border-radius: 50%;
    }
  }
}

.post__summary {
  width: 100%;
  margin-left: 0.8rem;
  color: $gray-color;

  .post__span--main {
    display: flex;
    gap: 0.6rem;
  }

  .article__user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.6rem;

    h3 {
      font-weight: normal;
      margin: 0;
    }

    .heading__user {
      font-weight: bold;
      color: $black-color;
    }
  }

  .post__content {
    margin: 0.4rem 0;
    line-height: 1.4;
  }

  .post__list--actions {
    display: flex;
    justify-content: space-between;

    .post__span--action {
      display: flex;
      align-items: center;
      gap: 0.1rem;
      transition: all ease-in-out 0.16s;
    }

    .post__icon {
      font-size: 2.4rem;
      border-radius: 50%;
      padding: 0.4rem;
    }
  }
}

.post__icon--more.icon__more {
  font-size: 1.2rem;
  border-radius: 50%;
  padding: 0.4rem;

  position: relative;
  width: 2em;
  height: 2em;

  &:hover {
    color: $sky-blue-color;
    background-color: $comment-blue-color;
  }
}

.post__more--actions.more__actions.show {
  position: absolute;
  box-shadow: 0 0 1rem $light-gray-color;
  background-color: $white-color;

  border-radius: 1rem;
  z-index: 100;

  width: 30%;
  top: 3rem;
  right: 0.8rem;
}

.action__more--item {
  display: flex;
  align-items: center;
  gap: 0.4rem;

  color: $pink-color;
  border-radius: 1rem;
  padding: 1rem;

  &:hover {
    background-color: $gray-hover-color;
  }
}

.action__item.bookmark {
  margin: auto 0;
}

.action__item {
  &:hover {
    // comment
    .action__comments {
      color: $sky-blue-color;
    }

    .comment__icon {
      background-color: $comment-blue-color;
    }

    // reswirk
    .action__reswirks {
      color: $green-color;
    }

    .reswirk__icon {
      background-color: $light-green-color;
    }

    // like
    .action__likes {
      color: $pink-color;
    }

    .like__icon {
      background-color: $light-pink-color;
    }
  }
}
