@import "../../scss/variables.scss";

.bookmarks__main {
  display: flex;
  justify-content: space-between;

  .trends {
    flex-basis: 35%;

    .search__section {
      max-width: 28rem;
      margin-right: 2rem;
      padding: 0.6rem 4rem 0.4rem 1.6rem;
    }
  }
}

.bookmarks__section {
  max-width: 40%;
  border-left: 2px solid $gray-hover-color;
  border-right: 2px solid $gray-hover-color;

  .bookmarks__info {
    position: sticky;
    width: 100%;

    top: 0;
    z-index: 10;
    padding: 0.4rem 0.8rem;

    background-color: rgba($white-color, 0.9);
    backdrop-filter: blur(0.22rem);

    .name {
      margin: 0;
    }

    .swirks__number {
      color: $light-gray-color;
      font-weight: normal;
    }
  }
}