@import "../../scss/variables.scss";

.search__section {
  position: sticky;
  top: 0;
  background-color: $white-color;
}

.search__form {
  position: relative;

  .search__input {
    background-color: $lighter-gray-color;
    padding: 0.6rem 2.6rem 0.6rem 1rem;
    width: 100%;

    border: 2px solid $lighter-gray-color;
    border-radius: 1.2rem;
    font-size: 1rem;

    &:focus {
      background-color: $white-color;
      border: 2px solid $sky-blue-color;
    }
  }

  .search__icon {
    position: absolute;
    top: 50%;
    right: 0.6rem;
    transform: translateY(-50%);
    color: $light-gray-color;
  }
}
