$white-color: #ffffff;
$light-pink-color: #ffcbd5;
$pink-color: #ff4a77;
$green-color: #4fb9a7;
$light-green-color: #ccefe9;
$sky-blue-color: #00a1ff;
$blue-hover-color: #008ced;
$comment-blue-color: #d9ecf7;
$gray-post-color: #f7f7f4;
$lighter-gray-color: #f6f9f7;
$gray-hover-color: #e7e7e5;
$light-gray-color: #999999;
$gray-color: #575757;
$black-hover-color: #303539;
$black-color: #000;

$tablet-width: 840px;
$medium-device-width: 1240px;
