$white-color: #ffffff;
$sky-blue-color: #00a1ff;
$blue-hover-color: #008ced;
$lighter-gray-color: #f6f9f7;
$gray-hover-color: #e7e7e5;
$light-gray-color: #999999;
$gray-color: #575757;
$black-color: #000;
